.flexed {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.inner-flexed {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
